<!DOCTYPE html>
<html>
  <body>
  
  <h2>Predict if the white wine is the high quality wine based on its component</h2>
  
  <form method="POST" action="/">
    fixed acidity:<br>
    <input type="number" name="fixed_acidity" value=6.80 step=0.01>
    <br><br>
	volatile acidity:<br>
    <input type="number" name="volatile_acidity" value=0.26 step=0.01>
    <br><br>
	citric acid:<br>
    <input type="number" name="citric_acid" value=0.32 step=0.01>
    <br><br>
	residual sugar:<br>
    <input type="number" name="residual_sugar" value=5.20 step=0.01>
    <br><br>
	chlorides:<br>
    <input type="number" name="chlorides" value=0.043 step=0.001>
    <br><br>
	free sulfur dioxide:<br>
    <input type="number" name="free_sulfur_dioxide" value=34.00 step=0.01>
    <br><br>
	total sulfur dioxide:<br>
    <input type="number" name="total_sulfur_dioxide" value=134.00 step=0.01>
    <br><br>
	density:<br>
    <input type="number" name="density" value=0.9937 step=0.0001>
    <br><br>
	pH:<br>
    <input type="number" name="pH" value=3.18 step=0.01>
    <br><br>
	sulphates:<br>
    <input type="number" name="sulphates" value=0.47 step=0.01>
    <br><br>
	alcohol:<br>
    <input type="number" name="alcohol" value=10.40 step=0.01>
    <br><br>
    <input type="submit" value="Submit">